@import url("https://fonts.googleapis.com/css?family=Gochi+Hand");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("one-piece-bg.jpg");
    background-size: cover;
    min-height: 70vh;  /*  Prevents the container div from totally centering vertically */
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color:  #494a4b;
    font-family: "Gochi Hand", cursive;
    text-align: center;
    font-size: 130%;
}

@media only screen and (min-width: 500px) {
    body {
        min-height: 100vh;
    }
}

.container {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 500px;
    max-width: 600px;
    min-width: 280px;
    background: #f1f5f8;
    background-image: url("parchment.jpeg");
    background-size: cover;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    padding: 1rem;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.heading-title {
    margin-top: 30px;
    transform: rotate(2deg);
    padding: 0.2rem 1.2rem;
    /* Elliptical curves */
    border-radius: 20% 5% 20% 5%/5% 20% 25% 20%;
    background-color: #ed9383; 
    font-size: 1.5rem;
}

@media only screen and (min-width: 500px) {
    .heading__title {
      font-size: 2rem;
    }
}

.heading img {
    width: 34%;
}

.form-label {
    display: block;
    margin-bottom: 0.5rem;
}

.form-input {
    background-color: transparent;
    padding: 0.7rem 0.5rem  0.2rem;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 7px;
    border: solid 3px transparent;
    border-bottom: dashed 3px red;
    font-family: "Gochi Hand", cursive;
    font-size: 1rem;
    color: rgba(63, 62, 65, 0.7);
    width: 70%;
    margin-bottom: 20px;
}
.form-input:focus {
    outline: none;
    border: solid 3px red;
}

@media only screen and (min-width: 500px) {
    .form__input {
      width: 60%;
    }
}

.button {
    padding: 0;
    border: 0;
    transform: rotate(4deg);
    transform-origin: center;
    font-family: "Gochi Hand", cursive;
    text-decoration: none;
    padding-bottom: 3px;
    border-radius: 5px;
    box-shadow: 0 2px 0 #494a4b;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    background-image: url("lines.gif");
    background-color: #ed9383;
    cursor: pointer;
}

.button span {
    background: #f8f0d6;
    display: block;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 2px solid #494a4b;
}
.button:active, 
.button:focus {
    transform: translateY(4px);
    padding-bottom: 0px;
    outline: 0;
}

.todoList {
    text-align: left;
}

.todoList li {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}
.todoList li span:hover {
    cursor: pointer;
}

.icon-buttons {
    display: flex;
    gap: 1em;
}
.icon-buttons img:nth-child(1) {
    cursor: pointer;
}
.icon-buttons img:nth-child(2) {
    cursor: pointer;
}


#theme-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #e6d7a9;
    color: #494a4b;
    border-radius: 50%;
    box-shadow: 3px 3px 2px #1D1E22;
    padding: 5px 10px;
    cursor: pointer;
}
#theme-btn:hover {
    animation: shake 0.5s ease;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}



/* Modal styles */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.modal-content {
    position: relative;
    background: linear-gradient(to bottom right, #ddc98f, #cecdcb);
    background-color: #fff;
    width: 80%;
    max-width: 500px;
    min-width: 300px;
    margin: 10% auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: black;
}

.modal-content p {
    margin-bottom: 0.8rem;
}

.close {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    padding: 3px 5px 0;
}
.close:hover {
    background-color: #ed9383;
    border-radius: 4px;
}

.modal-form textarea {
    background-color: antiquewhite;
    padding: 0.7rem 0.5rem  0.2rem;
    border-radius: 5px;
    border: solid 3px #ed9383;
    font-family: "Gochi Hand", cursive;
    font-size: 1rem;
    color: rgba(63, 62, 65, 0.7);
    width: 90%;
}
.modal-form textarea:focus {
    outline: none;
    border: solid 3px red;
}

.date-label {
    display: block;
    margin: 1rem 0 0.4rem;
}

#dueDate {
    background-color: antiquewhite;
    border-radius: 4px;
    padding: 0.2rem 0.4rem;
    font-family: "Gochi Hand", cursive;
    border: solid 3px #ed9383;
    font-family: "Gochi Hand", cursive;
    font-size: 1rem;
    color: rgba(63, 62, 65, 0.7);
}
#dueDate:focus {
    outline: none;
    border: solid 3px red;
}

.modal-button {
    position: relative;
    display: block;
    margin: 1.8rem auto 0;
    padding: 0;
    border: 0;
    font-family: "Gochi Hand", cursive;
    cursor: pointer;
    background-color: transparent;
}

.modal-button span {
    position: absolute;
    top: 0;
    right: 5px;
    transform: rotate(-20deg);
    color: rgb(201, 55, 55);
    font-weight: 900;
    font-size: 1.2rem;
    display: none;
}

.modal-button:hover span {
    display: inline;
}

.modal-form img:hover {
    animation: spin 3s linear infinite;
    opacity: 0.6;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Creates a wavy strikethrough on task before confirmed deletion */
.readyForDeletion {
    text-decoration: line-through wavy orangered;
}
.readyForDeletion::after {
    content: "tap again to delete!";
    font-size: small;
    position: absolute;
    bottom: -8px;
    right: 0;
}

/* Dark mode style change */
.changeThemeBody {
    color: #eee;
}

.changeThemeContainer {
    background-image: url("dark-mode-bg.jpg");
}

.changeThemeInput {
    color: antiquewhite;
}

.changeThemeModal {
    background-image: url("modal-bg-dark.jpg");
    color: #eee;
}
